.container {
  padding: 40px;
  max-width: 400px;
  margin: 100px auto 0 auto;
  font-family: sans-serif;
}

.title {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.button {
  padding: 10px;
  background-color: #22c55e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #16a34a;
}
