.container {
  padding: 40px;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.form input,
.form textarea {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}
.form button {
  padding: 15px;
  background: #22c55e;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
.form button:disabled {
  background: #ccc;
}
@media screen and (max-width: 968px) {
  .grid {
    grid-template-columns: 1fr;
    width: 300px;
  }
  .form input,
  .form textarea,
  .form button {
    width: 300px;
  }
}